{% extends 'layout/default.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="p-0 bg-img cover-background" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
		<div class="container-fluid d-flex flex-column">
			<div class="row align-items-center justify-content-center min-vh-100">
				<div class="col-md-9 col-lg-6 my-5">
					<div class="text-center error-page">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3 textLogged">
									You are logged in as
									{{ app.user.userIdentifier }},
									<a class="color" href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<h1 class="mb-4 text-white mb-3">Please sign in</h1>
							<div class="form-floating">
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus placeholder="Email">
								<label for="floatingInput">Email address</label>
							</div>
							<div class="form-floating">
								<input type="password" name="password" id="inputPassword" class="form-control mb-5" autocomplete="current-password" required placeholder="Password">

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<label for="floatingPassword">Password</label>
							</div>
							<button class="btn btn-lg btn-info rounded-pill" type="submit">
								Sign in
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
